<!DOCTYPE html>
<html>
  <head>
    <title>Pivotal Tracker Formatter</title>
  </head>
  <body>

    <h1>Pivotal Tracker Formatter</h1>
    <h2>by Nico Valencia @ Quickleft</h2>

    <form id="js-project-select-form">
      <select>
        <option>Loading...</option>
      </select>
      <input type="submit" value="Submit" disabled="disabled" />
    </form>

    <div id="js-loader" style="display:none;">Loading...</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

  </body>
</html>
